@CHARSET "ISO-8859-1";

.htmlPanel {
	
}

.container {
	width: 40vw;
	margin: auto;
	position: relative;
	margin-top: 4vw;
	text-align: center;
}

.etsy {
	
	width: 50%;
	height: 40vw;
	margin: auto;
	display: table;
	position: absolute;
	background: #DF7401;
}

.contact {
	right: 0px;
	width: 51%;
	height: 40vw;
	display: table;
	position: absolute;
	background: #250633;
}

.text {
	color: wheat;	
	font-size: 3vw;
	margin: auto;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
		
	}